main {
  background-color: red;
  padding: 20px;
}

.signup-form {
    max-width: 360px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.signup-form h1 {
    text-align: center;
    padding-top: 15px;
}

.signup-form h4 {
    text-align: center;
}

.signup-form form {
    /* width: 300px; */
    padding: 20px;
    font-size: 18px;
}

.signup-form form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.signup-form input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: limegreen;
    color: white;
    font-size: 18px;
}

.signup-form p {
    text-align: center;
    font-size: 15px;
    padding: 20px;
}