.submitStyle{
    background-color: lawngreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 480pt;
  cursor: pointer;
}

.questionformStyle{

}

.responsedanswers{

}

.updownStyle{

}

.votingBtn{
    
}