{% extends "Welcome.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>Error</h1>
 <div>
    {% if form.errors %}
        <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
 </div>

<ol>
    {%for i in range(0,len) %}
        <li><button class="Questions" style="border: none">{{questions[i][2]}}</button></li></br>
    {%endfor%}
</ol>
<form action="/getQuestion" method="post">
    {{ form.csrf_token }}
    <input type="number" id='questionID_Selected' name="Question_ID"/>
     <button type="submit">Send</button>
     <button type="reset">Clear</button>
</form>
<script  type=text/javascript src="{{ url_for('static', filename='Questions.js')}}"></script>
{% endblock %}