{% extends "Welcome.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
<form action="/getQuestion" method="post">
 {{ form.csrf_token }}
    <ol>
        {%for i in range(0,len) %}
             <input type="radio" name="Question_ID" value= {{form[i][1]}}  >
             <label>{{form[i][0]}} asked :{{form[i][2]}}</label>
        {%endfor%}
    </ol>
    <button type="submit">Send</button>
    <button type="reset">Clear</button>
</form>
{% endblock %}
