{% extends "Welcome.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>Error</h1>
 <div>
    {% if form.errors %}
        <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
 </div>

<form action="/getQuestion" method="post">
 {{ form.csrf_token }}
    <ol>
        {%for i in range(0,len) %}
             <input type="radio" name="Question_ID" value= {{questions[i][1]}}  >
             <label>{{questions[i][0]}} asked :{{questions[i][2]}}</label>
        {%endfor%}
    </ol>
    <button type="submit">Send</button>
    <button type="reset">Clear</button>
</form>
{% endblock %}