
<html>
<head>
    <meta charset="UTF-8">
    <title>QuestionDisplay </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'IndexpageStyle.css')}}">
</head>

<body>
<div class="headerPage">
                   <div class="col-3 headerContainer">
                   <h1> <a class="navigator" >StackUnderflow</a> </h1>
            </div>
            <div class="col-9 menuParent">
                   <ul class="menu">
                       <li > <a class="navigator" href="{{url_for('logout')}}">Logout</a></li>
                        <li >Hello {{session.username}} </li>
                        <li ><a class="navigator" href="Login.html">Login/sign-up</a></li>
                       <li ><a class="navigator" href="#section">Search</a></li>
                       <li > <a class="navigator" href="#home&t=1s&p=right">Ask</a></li>
                    </ul>
                </div>

              </div>


<h1>{{ question[0] }} asked this questions</h1>
<h2>Question ID: {{question[1]}}  <br>Content:<br><br> {{ question[2] }}</h2>
<br>
<br>
<h3> Number of Upvotes: {{ question[3] }}                 Number of Downvotes: {{ question[4] }}   </h3>
<br>
<h4>LIKE OR DISLIKE THIS QUESTION</h4>
<form action="/vote" method="post">
    <input type="radio" value=1 id="LikeButton" name="Vote" >
    <label for="LikeButton">LIKE</label>
    <input type="radio" value=0 id="DislikeButton" name="Vote" >
    <label for="DislikeButton">DISLIKE</label></br>
    <button type="submit">Send</button>
    <button type="reset">Clear</button>
</form>

{% if question[5] %}

<h5> THE FAVORITE ANSWER IS</h5>
    {%for i in range(0,len) %}
                {% if answers[i][2]==question[5] %}
                     <p1>{{answers[i][0]}} answered: <br>               {{answers[i][1]}}</p1>
                {% endif %}
    {%endfor%}

{% endif %}




<h5>ANSWERS</h5>
    {% if session.username  == question[0]%}
        <h6>CHOOSE YOUR FAVORTIE ANSWER</h6>
        <form action="/favoriteAnswer" method="post">
            <ol>

                {%for i in range(0,len) %}
                    <input type="radio" name="Favorite_Answer" value= {{answers[i][2]}}  >
                    <label>{{answers[i][0]}} answered: <br>               {{answers[i][1]}}</label>
                {%endfor%}
            </ol>
            <button type="submit">Send</button>
            <button type="reset">Clear</button>
        </form>

    {% else %}
      <ol>
            {%for i in range(0,len) %}
                <li>{{answers[i][0]}} answered: <br>               {{answers[i][1]}}</li>
            {%endfor%}
      </ol>
    {% endif %}

<h5>Put your answer</h5>

    <form action="/answer" method="post">
     {{ form.csrf_token }}
        <label>Answer<input type="text" name="Answer"/></label><br/>
        <button type="submit">Send</button>
        <button type="reset">Clear</button>
    </form>


</body>



</html>


