<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Base </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Design.css')}}"/>

     <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
       <script src="https://cdn.layerjs.org/libs/layerjs/layerjs-0.5.2.min.js" defer=""></script>
  <link href="https://cdn.layerjs.org/libs/layerjs/layerjs-0.5.2.css" type="text/css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'IndexpageStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'ExpenseItem.css')}}">





    </head>
{% endblock %}
<body>
    {% block navbar %}
    <script>

    function dummy(alabel){
    if(alabel=="prog"){
    document.getElementById("label").value="programming";
    }
    else if(alabel == "sport"){
    document.getElementById("label").value="sports";
    }
    else{
    document.getElementById("label").value="education";
    }
    }




    </script>


            <div class="box">
              <div class="headerPage">
                   <div class="col-3 headerContainer">
                   <h1> <a class="navigator" >StackUnderflow</a> </h1>
            </div>
            <div class="col-9 menuParent">
                   <ul class="menu">
                       <li id="nophone"> <a class="navigator" href="{{url_for('logout')}}">Logout</a></li>
                        <li id="nophone">Hello {{session.username}} </li>
                        <li id="nophone"><a class="navigator" href="Login.html">Login/sign-up</a></li>
                       <li id="nophone"><a class="navigator" href="#section">Search</a></li>
                       <li id="nophone"> <a class="navigator" href="#home&t=1s&p=right">Ask</a></li>
                    </ul>
                </div>

              </div>

          <div class="row">
              <div class="col-12 questionField">
                  <div class="fields">
                  <form action="/question" method="post" id="ask_form">
                       {{ form.csrf_token }}

                        <input class="inputclass" type="text" placeholder="Ask a Question" name="Question" />
                        <input class="labelclass" type="text" id="label" name="Label" readonly >

              </form>
                      </div>
              </div>
          </div>


          <div class="row">
              <div class="col-12" style="text-align: center">
                  <div class="dropdown">
                <button class="dropbtn">Labels</button>
                    <div class="dropdown-content">
                        <a onclick="dummy('prog')" id="prog" href="#">programmming </a>
                        <a onclick="dummy('sport')" id="sport" href="#">sports</a>
                        <a onclick="dummy('edu')" id="edu" href="#">educational</a>
                    </div>
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col-12" style="text-align: center">
                  <div class="dropdown">
                      <button class="askbtn" type="submit" form="ask_form"> Ask!</button>

                  </div>

              </div>


          </div>

                </div>


  {% endblock %}
{% block content %}
{% endblock %}





</body>


</html>